@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
}
body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    width: 100%;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}
.cardForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.details{
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.details.success .cardForm {
    display: none;
}
.details.success .successMsg {
    display: flex;
}
.label {
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    font-size: clamp(.65rem, 1.6vw, .75rem);
    letter-spacing: 2px;
    font-weight: 600;
}
.input-field{
    font-family: inherit;
    font-size: 1rem;
    padding: .7rem .9rem;
    width: 100%;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 10px;
    font-weight: 500;
    color: hsl(278, 68%, 11%);
    background-clip: padding-box;
    font-weight: 500;
    cursor: pointer;
}
.input-field:focus{
    border: none;
    outline: none;    
}
.input-field:hover{
    border: 1px solid hsl(270, 3%, 70%);
   
}
.input-field:focus:hover{
    border: none;
   
}
.input-field::placeholder{
    color: hsl(270, 3%, 87%);
    font-weight: 500;
    font-family: inherit;
}
.inputWrapper{
    width: 100%;
    position: relative;
    display: inline-flex;
    padding: 1px;
    border-radius: 15px;
    margin: .2rem 0 ;
}
.inputWrapper:focus-within::after{
    display: block;
}
.inputWrapper.error:focus-within::after,
.expiryDateInputs.error .inputWrapper:focus-within::after{
    display: none;
}
.inputWrapper::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(160deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 4px;
    display: none;
}
.other-details{
    display: flex;
    gap: .5rem;
}
.expiryDateInputs{
    display: flex;
    gap: .35rem;
}
.expiryDateInputs input{
    flex: 1;
}
.expiry-date, .cvc{
    flex: 1;
}
.btn {
    border: none;
    font-size: 1rem;
    width: 100%;
    border: none;
    padding: 1rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    font-family: inherit;
    font-weight: 500;
    border-radius: 10px;
    margin-top: .5rem;
    cursor: pointer;
}
.btn:hover {
    background-color: hsl(278, 68%, 21%);
}
.card {
    position: relative;
    display: flex;
    color: white;
}
.mobileBG{
    width: 100%;
}
.card-back{
    width: 100%;
}
.card-front{
    width: 100%;    
}
.frontCardContainer{
    position: absolute;
    display: flex;
    width: 75%;
    z-index: 1;
    bottom: -20%;
    left: 5%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5em hsla(278, 68%, 11%, 0.15);
}
.backCardContainer{
    position: absolute;
    display: flex;
    width: 75%;
    top: 12%;
    right: 5%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5em hsla(278, 68%, 11%, 0.15);
}
.front-card-details{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 6%;
    justify-content: space-around;
}
.card-logo{
    width: 20%;
}
.cardNumberDisplay{
    font-weight: 500;
    text-align: center;
    letter-spacing: .1em;
    font-size: clamp(.8rem, 4.3vw, 2rem);
}
.cardDetailsDisplay{
    display: flex;
    justify-content: space-between;
    font-size: clamp(.5rem, 2.5vw, 1.5rem);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.back-card-details{
    position: absolute;
    width: 70%;
    height: 16%;
    top: 41%;
    right: 9%;
    display: flex;
    justify-content: end;
    padding-inline: 3%;
    align-items: center;
    font-size: clamp(.5rem, 2.8vw, 1rem);
    font-weight: 500;
    letter-spacing: .1em;
}
.errorMsg{
    font-size: .68rem;
    color: hsl(0, 100%, 66%);
    display: none;
}
.inputWrapper.error .input-field,
.expiryDateInputs.error .input-field{
    border: 1px solid hsl(0, 100%, 66%);
}
.inputWrapper.error + .errorMsg,
.expiryDateInputs.error + .errorMsg{
    display: block;
}
.successMsg{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
}
.successMsg span {
    color: hsl(278, 68%, 11%);
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.successMsg p {
    color: hsl(279, 6%, 55%);
}
.successMsg img {
    max-width: 6rem;
    width: 4rem;  
}
.desktopBG{
    display: none;
}


@media screen and (min-width:400px){
    .details{
        padding: 2rem;
    }
}

@media screen and (min-width:768px){
    .details{
        padding: 4rem;
    }
    .frontCardContainer{
        width: 70%;
        bottom: -10%;
        left: 7%;
    }
    .backCardContainer{
        width: 70%;
        right: 7%;
    }
    
}

@media screen and (min-width:1024px){
    body{
        max-height: 100vh;
    }
    .container{
        flex-direction: row;
        height: 100vh;
        gap: 10rem;
    }
    .details{
        justify-content: right;
        padding: 3rem;
    }
    .frontCardContainer{
        width: 95%;
        bottom: auto;
        left: auto;
        right: -20%;
        top: 18%;
        max-width: 475px;
    }
    .backCardContainer{
        top: auto;
        width: 95%;
        right: -40%;
        bottom: 18%;
        max-width: 475px;
    }
    .mobileBG{
        display: none;
    }
    .desktopBG{
        display: flex;
    }
    .cardNumberDisplay{
        font-size: clamp(1rem, 2.2vw, 1.5rem);
    }
    .cardDetailsDisplay{
        font-size: clamp(.7rem, 1vw, 1rem);
        
    }
    .back-card-details{
        font-size: clamp(.7rem, 1vw, 1rem);
    }
    .card{
        flex: 1;
        max-width: 25rem;
    }
    .card img:nth-child(2){
        width: 100%;
    }
}

@media screen and (min-width:1200px){
    .details{
        max-width: 80%;
        margin-left: auto;
        padding: 5rem;
        justify-content: center;
    }
    .cardForm{
        max-width: 424px;
    }
}


